*{
    margin: 0px auto 0px auto;
    text-align: left;
}

body {
    margin: 0px;
    padding: 0px;
    text-align: left;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: #1c478e;
    background-image: url(background.png);
    background-repeat: repeat-x; 
}

a {
    text-decoration: none;
}

table,tr,td,thead {
    margin: 0px;
}

table {
    padding: 10px 0px;
}

th {
    text-align: center;
}

td {
    padding: 5px 20px;
}

h2 {
    padding-bottom: 10px;
}
h3 {
    font-size: 16px;
    font-weight: bold;
    padding: 10px 0;
    color: #054dbc;
}
h4 {
    font-size: 15px;
    font-weight: bold;
    color: #054dbc;
    padding-bottom: 8px;
    
}

p{
	margin:10px 0 10px 0;
}

label {
    display: inline-block;
    width: 150px;
}

#container {
    width: 960px;
}

header {
    width: 960px;
    height: 85px;
}

header h1 {
    float: left;
    color: white;
    font-size: 40px;
    padding: 20px 0px 0px 20px;

}

header h2 {
    float: right;
    color: #a9d1fa;
    padding: 40px 20px 0 0;
}

header h1 span.blue-text {
    color: #67a0f5;
}

header h2 span.white-text {
    color: #ffffff;
}

aside {
    color: white;
}

aside input[type="text"], aside input[type="email"] {
    margin-bottom: 10px;
}

#displayName {
    color: white;
    float: right;
    font-weight: bold;
    font-size: 15px;
}

#menu {
    display: block;
    float: left;
    clear: both;
    width: 960px;
    height: 55px;
}

#menu ul {
    padding: 0px;
    padding-top: 18px;
    list-style: none;
    margin-left: auto;
    width: 960px;
}

#menu li {
    list-style: none;
    padding: 0px;
    display: inline;
}

#menu li a, #menu li a:visited {
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 15px;
    font: bold;
    padding: 0px 15px 0px 15px;
}

#leftmenu {
    margin-top: 15px;
    width: 190px;
    float: left;
    background: #1c478e;
    border-radius: 10px;
    padding: 15px 20px 10px 10px;
}

#leftmenu ul {
    list-style: none;
    padding: 0px;
}

#leftmenu li {
    list-style: none;
    padding: 15px 0px 8px 0px;
    border-bottom: 1px dashed white;
}

#leftmenu a, #leftmenu a:visited {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}

#leftmenu h3 {
    color: white;
    padding: 0px;
    padding-bottom: 10px;
    border-bottom: white solid 2px;
    font-size: 14px;
}

section {
    display: block;
    width: 680px;
    margin-top: 15px;
    float: left;
    background: white;
    border-radius: 10px;
    border: 6px solid #1c478e;
    padding: 15px;
    margin-left: 15px;
}

.float {
    float: right;
    margin: 15px;
}

.developer {
    column-width: 150px;

}

.developer ul {
    margin: 0px;
    list-style: none;
    padding: 0px;
    line-height: 1.5em;
}

table.dev-table, table.dev-table tr, table.dev-table td, table.dev-table th {
    font-size: 105%;
}

table.dev-table tr, table.dev-table td {
    border-bottom: 1px dashed black;
}

footer {
    text-align: center;
    color: white;
    background: black;
    padding: 10px 0 10px 0;
    margin: 20px;
}

#map {
    width: 400px;
    height: 250px;
    float: left;
}

